/* Cambio il font a livello globale*/
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');


body {
    font-family: 'Readex Pro', sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
} /*{}*/


address {
    display: inline-block;
    font-style: normal;
}
time {
    color: grey;
}


header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    top: 0;
    z-index: 999;
    box-shadow: 0px 5px 10px 1px rgb(129, 129, 129);  
}
header h2 {
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
} 

footer {
    color: lightgray;
}

main {
    position: relative;
    max-width: 800px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 80px; /*spostiamo all'interno della pagina*/
    padding-top: 10px;
   
}
article {
    margin: 35px;
}
nav ul { /* con il nav vicino prende solo ul del nav*/
    list-style: none;
    margin: 0;
    padding: 0px;
}
a{
    text-decoration: none;
}






/*stile creazione menù responsive*/
nav {
    width: 100%; /* deve essere il 100% della pagina*/
    height: fit-content;
    position: absolute;
    
    overflow: hidden;
    right: 0;

}
nav ul a {
    display: block;
    padding: 0px 25px;
    color: #000000;
    height: 70px;
    line-height: 75px;
    transition: all 0.3 ease;
    position: relative;
    background-color: white;
}
nav ul a:hover {
    background-color: #000000;
    color: white;
}
nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}





/* Hamburger Menu Icon */
.hamb{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px 20px;
    z-index: 999;
}/* Style label tag */

.hamb-line {
    background: #000000;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before, /* la virgola significa che la regola impatta questi e quelli di dopo*/
.hamb-line::after{ /*before e after sono degli elementi che sono al di sopra e al di sotto di hamb line, e sono pseudo elementi che non si trovano nel codice HTML*/
    background: #000000;
    content: '';
    display: block;
    height: 2px; /* rispettano le misure di hamb line*/
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */






/* Toggle menu icon */
.side-menu:checked ~ nav{  /* ~ dice di applicare questo NOT a un elemento che sia fratello di un nav */
    max-height: fit-content;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before { /*hamb line contenuto in hamb che viene checcato*/
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}




/* Responsiveness */
@media (min-width: 768px) { /* se il device ha una larghezza minima di 768 px devi seguire le regole seguenti che sovrscrivono
     quelle di sopra, se invece ha una larghezza minima valgono quelle di sopra e quelle di qua sotto non valgono
     768 è il valore che hanno i tablet in una risoluzione in verticale*/
     /* media min-width: 768 significa:
     se la dimensione della finestra del BROWSER è almeno 768
     px allora applichi le regole del seguente blocco;*/


   /* body {
        background-color: #000000;
    }*/
    nav{
        max-height: none;
        top: 0;
        float: right;
        width: fit-content;
    }
    nav ul li{
        float: left;
    }
    nav ul a:hover{
        background-color: black;
        color: white;

    }

    .hamb{
        display: none;
    }
}